@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body,
  #root {
    @apply h-full;
  }
}

@layer utilities {
  .selected-nav {
    color: blue;
    font-weight: bold;
  }
  .rotate-y-180 {
    transform: rotateY(180deg);
  }
  .perspective-1000 {
    perspective: 1000px;
  }
  .tranform-style-preserve3d {
    transform-style: preserve-3d;
  }
  .backface-hidden {
    backface-visibility: hidden;
  }
}
